*,
html {
	margin: 0;
	padding: 0;
	outline: 0;
}
.cont {
    position: flex;
	width: 100%%;
	height: 8vh;
    border-radius: 5px;
    padding: 20px 19px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 3px 1px #ddd;
	overflow: hidden;
	border:10px solid #fff;
}
.table th,.table td{
	vertical-align: center;
	padding:10px 7px;
	text-align: center;
	margin:0;
	}
.table tbody tr:nth-child(odd) { 
    background:rgb(187, 255, 99);
}

.navbar-container {
	background-color: greenyellow;
	width: 100%;
	height: 10vh;
}

.ul-navbar {
	display: flex;
	height: 80px;
	justify-content: center;
	align-items: center;
}

.li-navbar {
	list-style-type: none;
	padding: 10px;
	margin: 2px;
	color: black;
	font-size: 50px;
	font-family: Garamond;
}

.a-navbar {
	color: black;
	text-decoration: none;
}

.footer {
    width:100%;
    height: 50px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
}

.footer-h1 {
	justify-content: center;
	align-items: center;
	border-style: solid;
	font-size: 18px;
}

.tmb {
    margin: 10px;
    padding-left: 5px;
}

.tombol {
	text-decoration: none;
	color: black;
	background-color: yellow;
	font-family: arial;
	font-weight: bold;
	line-height: 45px;
	margin: auto;
	padding: 8px;
	border-radius: 10px;
}

.tombol-1 {
	text-decoration: none;
	color: black;
	background-color: greenyellow;
	font-family: arial;
	font-weight: bold;
	line-height: 45px;
	margin: auto;
	padding: 8px;
	border-radius: 10px;
}

.tombol-2 {
	text-decoration: none;
	color: black;
	background-color: greenyellow;
	font-family: arial;
	font-weight: bold;
	line-height: 45px;
	margin: auto;
	padding: 8px;
	border-radius: 10px;
}

.tombol:hover {
    background-color: rgb(136, 255, 0);
}

.tombol-1:hover {
    background-color: rgb(128, 187, 39);
}

.tombol-2:hover {
    background-color: rgb(128, 187, 39);
}