* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    min-height: 100%;
    background-image: url('img/loby.jpeg');
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: 	greenyellow;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
  }
  nav .container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  nav.open .container {
    left: 0;
  }
  .container .container-menu {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  .container-menu .li-navbar {
    list-style: none;
  }
  .li-navbar .navigasi  {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .ul-navbar .navigasi:hover {
    background-color: greenyellow;
  }
  .navigasi .icon {
    font-size: 20px;
    color: #707070;
  }
  .navigasi .link {
    font-size: 16px;
    color: black;
    font-weight: 400;
  }
  .ul-navbar .navigasi:hover .icon,
  .ul-navbar .navigasi:hover .link {
    color: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }
  .cont {
    position: flex;
    width: 100%%;
    height: 8vh;
    border-radius: 5px;
    padding: 100px 19px;;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 3px 1px #ddd;
    overflow: hidden;
    border:10px solid #fff;
}
.table th,.table td{
    vertical-align: center;
    padding:10px 7px;
    text-align: center;
    margin:0;
    }
.table tbody tr:nth-child(odd) { 
        background:rgb(187, 255, 99);
}

.footer {
    width:100%;
    height: 50px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
}   
.footer-h1 {
	justify-content: center;
	align-items: center;
	border-style: solid;
	font-size: 18px;
}
