*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 25px;
    width: 800px;

    background-color: rgba(18, 18, 18, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.judul {
    font-family: Didot;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 6px solid greenyellow;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/medical.jpg');
}

ul {
    list-style-type: none;
}

form {
    padding: 1em;
    margin-top: 1em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

label {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 0.5em 1em 0.5em 0;
}

input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5em;
}

button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background: greenyellow;
    color: black;
    border-radius: 20px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
} 

button:hover {
    background-color: rgb(138, 202, 41);
    opacity: 0.9;
}