* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 12px 25px;
}

.container .login-text {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    border-bottom: 7px solid blue;
}

.container .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-bottom: 25px;
}

.container .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color:black;
    transition: .3s;
}

.container .login-social a i {
    margin-right: 5px;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: white;
    outline: none;
    transition: .3s;
}
.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: black;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    border: none;
    background-color:blue;
    outline: none;
    border-radius: 25px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: rgb(36, 14, 160);
}
@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}