* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    min-height: 100%;
    background-image: url('img/loby.jpeg');
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: 	greenyellow;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
  }
  nav .container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  nav.open .container {
    left: 0;
  }
  .container .container-menu {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  .container-menu .li-navbar {
    list-style: none;
  }
  .li-navbar .navigasi  {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .ul-navbar .navigasi:hover {
    background-color: greenyellow;
  }
  .navigasi .icon {
    font-size: 20px;
    color: #707070;
  }
  .navigasi .link {
    font-size: 16px;
    color: black;
    font-weight: 400;
  }
  .ul-navbar .navigasi:hover .icon,
  .ul-navbar .navigasi:hover .link {
    color: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }
  
  .container {
      padding-top: 95px;
      width: 100%;
      min-height: 100vh;
      height: auto;
      background-color: var(--bg-primary);
  }
  
  .wrapper {
    padding: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
     align-items: center;
  }
  .card{
      width: 500px;
      height: 500px;
      background-color: white; 
      color: var(--txt-scondary);
      padding: 30px;
      margin: 8px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
  
  .text-center {
      text-align: center;
  }
  
  .deskripsi {
    font-size: 16px;
      padding: 10 px 0;
    }
  
    .ul-deskripsi {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;
      padding: 20px 0;
    }
  
    .ul-deskripsi li {
      width: 100%;
      font-size: 16px;
      text-align: left;
    }
  
    .ul-deskripsi li:not(:last-child) {
      border-bottom: 1px solid #bbb;
    }
  
    .btn {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: black;
      font-weight: 500;
    
      display: inline-block;
      padding: 14px 28px;
      border-radius: 100px;
      /* margin-left: 30%; */
      display: block;
      margin-left: 60px;
      margin-right: 60px;
      
      margin-bottom: 30px;
      /* border-radius: translatex(-50%); */
    }
  
   .daftar .btn{
      border: 2px solid #46ea69;
      background-color:			rgb(172, 239, 148);
    }
    
  
    .daftar .btn:hover {
      background-color: rgb(135, 234, 110);
    }
    
  @media screen and (max-width: 476px) {
      /* .container {
          width: 95%;
      } */

  
    }

    
.footer {
  width:100%;
  height: 50px;
  line-height: 50px;
  background: #333;
  color: #fff;
  position: absolute;
  bottom: 0px;
}

.footer-h1 {
justify-content: center;
align-items: center;
border-style: solid;
font-size: 18px;
}
  
    .container-fluid {
      width: 100%;
      height: 100vh;
      background-color: rgb(0, 0, 0, .8);
      position: fixed;
      top: 0;
      left: 0;
    
      opacity: 0;
      visibility: hidden;
    
      transition: all .5s .1s;
      
    }